# Dependencies
node_modules/

# Expo / Managed workflow
.expo/
dist/
web-build/
expo-env.d.ts

# Native folders (Generated)
/ios
/android

# Environment variables 
.env
.env*.local
.env.development
.env.production

# Metro & Build logs
.metro-health-check*
npm-debug.*
yarn-debug.*
yarn-error.*

# Firebase
.firebase/
firebug.log
firebase-debug.log*

# macOS / OS specific
.DS_Store
.AppleDouble
.LSOverride
Thumbs.db
*.pem

# TypeScript
*.tsbuildinfo

# VS Code
.vscode/